.me{
	border: solid 1px white;
	border-radius: 200px;
	height: 200px;
}
.myname{
	font-size: 30px;
	vertical-align: middle;
/*	line-height: 200px;*/
	margin-left: 10px;
	
}

ul{
	list-style-type: none;
}
#x2{
	border-left: solid 10px #22bdff;
	font-size: 27px;
	padding-bottom: 50px;
}
#x3{
	margin-right: 0;
	width:75%;
}
#x4{
	width:20%;
	text-align: center;
}
#x5{
	margin-top: -10px;
	font-size:31px;
	padding: 40px 70px;
}
